@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

/* ==== ANIMAÇÃO DO TUBO ==== */
#tube-stage {
position: fixed;
top:0; left:0;
width:100vw;
height:100vh;
background:url(img/vfixlar.png) center center;
display: grid;
place-items: center;
z-index: 9999;
overflow: hidden;
}
.tube { width:70vmin; height:auto; }
#tube-content {
position: absolute;
text-align: center;
color: #fff;
font-size: 50px;
text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
opacity: 0;
transform: translateY(50px);
transition: opacity 0.5s, transform 0.1s;
}

body {
font-family: Arial, sans-serif;
line-height: 1.6;
margin: 0;  
background-color: #AFCCEE;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23D3ECFF'/%3E%3Cstop offset='1' stop-color='%23AFCCEE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23c2ddf7'/%3E%3Cstop offset='1' stop-color='%23AFCCEE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(2000 0)'%3E%3Cg transform='translate(0 915)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-82.8 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

/* ===== NAVBAR ===== */
.logo { max-width: 50%; height: auto; }
.navbar { padding:.5em; background: url(img/vfixlar.png) center center; box-shadow: 0 14px 14px -14px rgba(0,0,0,.75); }
.sticky { position: sticky; top: 0; z-index: 1; }
.hidden { display: none; }
.nav__items { list-style: none; margin: 0; padding: 0; }
.nav__link { color: #eee; text-decoration: none; }
.nav__items .nav__link:hover { color: rgb(252,41,74); }

@media (min-width: 800px) {
.navbar { display: flex; justify-content: space-between; align-items: center; }
.nav { display: flex !important; }
.nav__items { display: flex; flex-direction: row; gap: 20px; }
.nav__items .nav__link { font-size: 1rem; }
}
@media (max-width: 799px) {
.nav__items {
flex-direction: column; text-align: center;
background: rgb(249,178,51);
position: fixed; top: 0; left: -100%; width: 100%; height: 100%;
justify-content: center; transition: left .3s ease;
}
#nav:checked ~ .nav .nav__items { left: 0; }
}

/* ===== Sessão Intro ===== */
.product-intro {
width: 100%;
min-height: 650px; /* altura mínima da seção */
background: url('img/tubointro.jpeg') center center / cover no-repeat;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 20px;
box-sizing: border-box;
text-align: center;
}

.intro-empresa {
max-width: 800px;
height: 360px;
background: rgba(245, 221, 224, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16.6px);
-webkit-backdrop-filter: blur(16.6px);
border: 1px solid rgba(245, 221, 224, 0.9);
position: relative;
overflow: hidden;
}

.intro-empresa::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
height: 1px;
background: linear-gradient(
90deg,
transparent,
rgba(255, 255, 255, 0.8),
transparent
);
}

.intro-empresa::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 1px;
height: 100%;
background: linear-gradient(
180deg,
rgba(255, 255, 255, 0.8),
transparent,
rgba(255, 255, 255, 0.3)
);
}

.intro-empresa h2{
font-family: Arial, sans-serif;
width: 80%;
font-style: normal;
color: #be132d;
text-shadow: 2px 2px 5px rgb(255, 255, 255,0.9);
font-size: 25px;
margin: 10px;        /* remove a margem padrão */
/*line-height: 1;   /* ajusta altura da linha para não gerar espaço extra */
display: inline-block; /* faz o fundo envolver só o texto */
}

.product-intro h1 {
position: relative;
font-family: Arial, sans-serif;
font-style: normal;
color: #be132d;
border: 05px solid #be132d;
border-radius: 15px;
font-size: 150px;
margin: 10px;        /* remove a margem padrão */
line-height: 1;   /* ajusta altura da linha para não gerar espaço extra */
display: inline-block; /* faz o fundo envolver só o texto */
}

#empresa-text {
font-size: 20px;
color: #000;
margin: 10px
}

.logos-lab {
display: flex;
justify-content: center;   /* centraliza horizontal */
align-items: center;
gap: 20px;                 /* espaço entre as imagens */
margin-top: 15px;
}

.logos-lab img {
max-height: 60px;          /* ajusta altura */
width: auto;
border-radius: 5px;/* mantém proporção */
}
.logos-lab {
  display: flex;
  gap: 20px;
  overflow-x: auto;        /* permite scroll horizontal no mobile */
  scroll-snap-type: x mandatory; /* "trava" cada imagem ao fazer scroll */
  padding-bottom: 10px;
}

/* Cada imagem */
.logos-lab img {
  flex: 0 0 auto;          /* impede encolher */
  height: 200px;           /* define altura fixa */
  width: auto;             /* largura proporcional */
  border-radius: 5px;
  scroll-snap-align: start; /* alinhamento no scroll snap */
}

/* Desktop */
@media(min-width: 768px) {
  .logos-lab {
    justify-content: center;
    overflow-x: visible;   /* remove scroll horizontal */
  }
  .logos-lab img {
    height: auto;
    max-height: 250px;
  }
}


/* ===== CARDS / ACORDEÃO ===== */

.cards-section { 
margin:15px; 
padding:2px;
border: 2px solid orange; 
border-radius: 8px; 
background-color: #fff;
}

.cards-section .intro-text {
text-align:center; 
font-size:1.2rem; 
margin:25px; 
color:#444;
border: 2px solid orange; 
border-radius: 8px; 
padding: 10px; 
background:#fff;
}

.cards-lateral { 
display:flex; 
flex-direction: column;
gap:50px; 
align-items:flex-start;
margin-top:20px;
}

/* Accordion */
.accordion { 
list-style:none; 
padding:0; 
margin:0; 
flex:1; }
.accordion-item { 
border:2px solid orange;
border-radius:8px; 
margin-bottom:10px; 
background:#fff; 
overflow:hidden; 
}

.accordion-header {
width:100%; 
text-align:center; 
font-weight:bold; 
color:#ff6600;
padding:12px 16px; 
cursor:pointer; 
border:none; 
background:transparent; 
font-size:1rem;
}

.accordion-header:hover { 
color:#d35400; 
}
.accordion-content {
display:none;
padding:15px;
animation: fadeIn .3s ease;
overflow:hidden;
word-wrap:break-word;

/* padronização altura */
min-height: 220px;
flex-direction:column;
align-items:center;
justify-content:center;
}
.accordion-item.active .accordion-content { 
display:block; 
}


/* Preview lateral (desktop) */
.card-preview {
flex:2; 
display:flex; 
gap:10px; 
align-items:center; 
justify-content:space-between;
}

.card-preview img, #card-text {
width:50%; opacity:0; transition:opacity 0.3s ease;
}

.card-preview img {
border-radius:12px;
box-shadow:0px 4px 15px rgba(0,0,0,0.1);
max-height:300px; /* trava altura no desktop */
margin-bottom: 5px;
object-fit:contain;
}

#card-text {
font-size:1rem;
line-height:1.4;
color:#444;
background-color: #fff;

/* padronização altura */
min-height: 250px; /* ajusta conforme layout desejado */
display:flex;
align-items:center;
}
/* ===== Ajuste Desktop: acordeon row no topo e preview abaixo ===== */
@media(min-width: 769px){
/* Empilha acordeon em row no topo */
.cards-lateral {
flex-direction: column; /* mantém coluna: acordeon no topo, preview embaixo */
gap: 20px;
}

/* Accordion em linha */
.accordion {
display: flex;
flex-direction: row;
gap: 15px;
width: 100%;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
}

.accordion-item {
flex: 1;
min-width: 150px; /* ajusta largura mínima do botão */
}

/* Conteúdo do acordeon não abre no desktop (só botão) */
.accordion-content {
display: none !important;
}

/* Preview abaixo do acordeon */
.card-preview {
display: auto;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: stretch;
}

/* Trava altura da imagem e mantém ratio */
.card-preview img {
max-width: 70%;
max-height: 300px;
border-radius: 10px;
}

#card-text {
border:2px solid orange;
flex: 1;
min-height: 250px;
display: flex;
padding: 15px;
align-items: stretch;
font-size: 20px;
line-height: 1.4;
color: #444;
max-width: 30%;
}
}

/* Responsivo */
@media(max-width:768px){
.intro-empresa { display: none; } /* <<< OCULTA NO MOBILE */

html, body {
overflow-x: block; /* bloqueia scroll lateral global só no mobile */
}

.card-preview {
display: none;
}
.accordion {
display: flex;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
gap: 15px;
padding: 10px;
width: 100%; /* garante que não ultrapassa a tela */
}
.accordion-item {
flex: 0 0 80%; /* ocupa 80% da tela */
scroll-snap-align: center;
background: #fff;
border-radius: 12px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
box-sizing: border-box;
max-width: 80%;
overflow: hidden;
}
.accordion-content {
display: block !important; 
padding: 10px;
text-align: center;
}
.accordion-content img {
width: 100%;
height: auto;
max-height: 200px; /* controla a altura no mobile */
object-fit: contain;
border-radius: 8px;
margin-bottom: 10px;
}
.accordion-content div {
font-size: 14px;
line-height: 1.4;
}
}

/* Botão CTA fixo */
.cta-fixed {
bottom: 0;
left: 0;
width: 100%;
background: #ff6600;
text-align: center;
padding: 0.8rem;
z-index: 1000;
}
.cta-fixed a {
color: #fff;
text-decoration: none;
font-weight: bold;
font-size: 1rem;
display: inline-block;
width: 100%;
}
.cta-fixed a:hover {
background: #e65c00;
border-radius: 6px;
transition: 0.3s;
}

/* Seção Sobre a Empresa */
.about-section {
display: flex;
flex-direction: column;
border:2px solid orange;
border-radius:8px; 
margin-bottom:10px; 
padding: 4rem 2rem;
background-color: #f8f9fa; /* cinza bem claro */
align-items: center;
}


.about-section h2 {
font-size: 2rem;
color: #0a2a43; /* azul escuro para dar sobriedade */
margin-bottom: 1rem;
}

.about-section p {
font-size: 1.1rem;
color: #333;
max-width: 800px;
margin: 0 auto 2rem auto;
line-height: 1.6;
}

.about-container,
.mission-container {
margin-bottom: 3rem;
align-items: center;
}

@media (min-width: 768px) {
.about-section {
border:2px solid orange;
border-radius:8px; 
margin-bottom:10px; 
text-align: left;
}

.about-container,
.mission-container {
max-width: 1000px;
margin: 0 auto 3rem auto;
}

.about-section p {
font-size: 1.2rem;
}
}
@keyframes fadeIn { from {opacity:0;} to {opacity:1;} }
